<html>
	<head>
		<%= render :partial => 'shared/bootstrap' %>
		<%= render :partial => 'shared/navbar' %>
	</head>
	<body>
		<h1>Welcome to Chatbot</h1>
		<%= link_to 'Nodes', 'nodes/', class: "btn btn-primary" %>
	</body>
</html>