<html>
	<head>
		<%= render :partial => 'shared/bootstrap' %>
		
	</head>
	<body>
		<%= render :partial => 'shared/navbar' %>
		<div class="container-fluid">
			<h1>Welcome to Chatbot</h1>
		</div>
	</body>
</html>