<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/bootstrap' %>
  </head>

  <%= render :partial => 'shared/navbar' %>

  <div class="container-fluid">

      <h1>Welcome to Chatbot</h1>

  </div>
</html>