<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render :partial => 'shared/bootstrap' %>
  </head>

  <%= render :partial => 'shared/navbar' %>

  <div class="container-fluid">
    <div class="col-xs-12">
      <h1>Welcome to Chatbot</h1>


    </div>
  </div>
</html>