

  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Chatbot</a>
      <ul class="nav nav-pills navbar-right" style="margin: 5px 5px 0px 0px;">
  		<li id="home" role="presentation"><%= link_to 'Home', root_path %></li>
  		<li id="nodes" role="presentation"><%= link_to 'Nodes', nodes_path %></li>
  		<li id="chat" role="presentation"><%= link_to 'Chat', chat_path %></li>
	</ul>
  </div>
</nav>


<script>
	$('a[href="' + this.location.pathname + '"]').parents('li,ul').addClass('active');
</script>