
<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Chatbot</a>
      <ul class="nav nav-pills navbar-right">
  		<li role="presentation" class="active"><a href="#">Home</a></li>
  		<li role="presentation"><a href="#">Profile</a></li>
  		<li role="presentation"><a href="#">Messages</a></li>
	</ul>
  </div>
</nav>