<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
      <a class="navbar-brand" href="#">Chatbot</a>
      <ul class="nav nav-pills navbar-right">
  		<li role="presentation" class="active"><%= link_to 'Home', root_path %></li>
  		<li role="presentation"><%= link_to 'Nodes', nodes_path %></li>
  		<li role="presentation"><%= link_to 'Chat', chat_path %></li>
	</ul>
  </div>
</nav>